html, body{
scroll-behavior:smooth;
}

body{
margin:0px;
}

.sidebar{
position:fixed;
left:0px;
top:0px;
width:200px;
height:3000px;/*backgroundの高さ調節*/
background:#eee;
padding:20px;
}

.reirei{
font-size:30px;
text-decoration:none;
text-shadow: 2px 2px 5px gray;
color:rgb(240, 133, 169);
}

.sidebar ul{
list-style:none;
padding:0px;/*liの文章と左側がくっつくように*/
text-decoration:none;
}

main{
margin-left:250px;
padding:20px;
}

.right{
width:200px;
padding:20px;
background:#eee;
margin-left:auto;
/*paddingで解決しようとしていた;*/
height:auto;
}

.sentence-photo{
display:flex;
}

.sentence{
width:690px;
font-size:20px;
}

img{
width:300px;
margin:50px;
}

.layout{
display:flex;
}

@media screen and (max-width: 768px) {

  /* 横並び解除 */
  .layout {
    display: block;
  }

  .sentence-photo{
  display:block;
  }

  /* サイドバーを上に移動 */
  .sidebar {
    position: static;
    width: 100%;
    height: auto;
  }

  /* mainのズレ解除 */
  main {
    margin-left: 0;
  }

  /* 人気記事も下に流す */
  .right {
    width: 100%;
    margin-left: 0;
  }

  img {
    width: 100%;
    height: auto;
    margin: 10px 0;
  }

  .sentece{
  width:100%;
  }
}
